.journal_cl {
  .journal_cl_item {
    opacity: 1;
    transition: opacity var(--transition-duration) var(--transition-easing);
  }

  &:hover .journal_cl_item {
    opacity: 0.4;
  }

  .journal_cl_item:hover {
    opacity: 1;
  }
}
